
header {
    background-color: rgb(229, 229, 229); 
}

.btn-rojo {
  color: red; 
}

.btn-rojo:hover {
  background-color: #ff0015;  
  color: rgb(255, 255, 255); 
}


p {
  font-family: "Times New Roman", sans-serif;
}


.texto-pequeno {
  font-size: 11px;  
}


.custom-footer {
    background-color: #c21807;
  }

  .custom-footer {
    width: 100%;
    text-align: right;
    padding-right: 20px;
  }
  
  .footer-text {
    text-align: right;
    margin-right: 20px; /* No lo logré aquí*/
  }
